



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    hr {
    color: gray; /* Renk kodunu değiştirerek farklı bir renk seçebilirsiniz */
    background-color: gray; /* Arkaplan rengi */
    height: 3px; /* Çizgi kalınlığı (isteğe bağlı, istediğiniz kalınlığı belirleyebilirsiniz) */
    border: none; /* Çizgi etrafındaki kenarlık (varsayılan olarak sıfır olarak ayarlanır) */
    width: 500px;
}
</style>
<div style="text-align: center;">
    <br>
<h3>Tüm arabalar : </h3>
<hr>
</div>
<div *ngFor="let item of items" style="text-align: center;">
    
    <strong>Araba Id : {{ item.carId }}</strong>
    <br>
    <strong>Marka adı : {{ item.brandName }}</strong>
    <br>
    <strong>Yakıt tipi : {{ item.fuelTypeName }}</strong>
    <br>
    <strong>Vites tipi : {{ item.gearTypeName }}</strong>
    <br>
    <strong>Motor hacmi : {{ item.engineCapacityName }}cc</strong>
    <br>
    <hr>
</div>
